@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --card-width: 1100px;
  --card-height: 190px;
}

#app{
  background-color: white;
}

#sidebar{
  height: 700px;
  width: 300px;
  background-color: black;
  color: white;
}

.showNot{
  display: none;
}

#content-page{
  background-color: white;
  display: grid;
  grid-template-rows: 55px 70px 1fr;
  height: 750px;
}

#content-body-folder{
  display: grid;
  grid-template: repeat(auto-fill, 220px) / repeat(auto-fill, minmax(205px, 1fr));
  height: 600px;
}

#content-body-task{
  background-color: white;
  display: grid;
  grid-template-rows: repeat(auto-fill, minmax(220px, 1fr));
  overflow-y: scroll;
}

#content-title{
  color: black;
  background-color: white;
  font-size: 24px;
  padding-left: 5px;
}

#content-header{
  background-color: white;
  align-items: center;
  padding-left: 5px;
}

#foldersElem{
  background-color: black;
  width: 200px;
  height: 200px;
  margin-top: 10px;
  color: white;
}

#content-title-hp{
  color: white;
}

#content-body-hp{
  background-color: white;
}

.card{
  width: var(--card-width);
  height: var(--card-height);
  margin: 15px;
  padding: 5px;
  border-radius: 10px;

  background-color: black;
  color: white;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#addBtn{
  background-color: green;
}

#editBtn{
  background-color: green;
  width: 50px;
  height: 30px;
  border-radius: 5px;
  margin-top: 5px;
}

#deleteBtn{
  background-color: red;
  width: 70px;
  height: 30px;
  border-radius: 5px;
  margin-left: 5px;
  margin-top: 5px;
}

/* Sidebar links */
#sidebar a {
  display: block;
  color: white;
  padding: 16px;
  width: 310px;
  text-decoration: none;

}

/* Active/current link */
#sidebar a.active {
  background-color: #aa0404;
  color: white;
}

/* Links on mouse-over */
#sidebar a:hover:not(.active) {
  background-color: whitesmoke;
  color: red;
}


#addFolderBtn{
  background-color: green;
  padding: 12px;
  width: 310px;
  text-align: right;
}

#subFolders{
  height: 496px;
  overflow-y: scroll;
}

/* Lightbox styles */
dialog{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  background: black;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Drop shadow */
  max-width: 100%; /* Adjust width as needed */
  max-height: 100%; /* Adjust height as needed */
  overflow: auto;
}

dialog form {
  display: flex;
  flex-direction: column;
}

dialog input,
dialog select,
dialog button {
  margin-bottom: 10px;
  padding: 10px;
  width: 700px;
  height: 60px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

dialog button[type="submit"] {
  background-color: #007bff; /* Blue submit button */
  color: white;
  border: none;
  cursor: pointer;
}
